<section>
    <h2>Edit Teams:</h2>
    <!-- <h3>Titulo actual:</h3>
    <p>
        <%= team.title %>
    </p>
    <h3>Descripcion actual:</h3>
    <p>
        <%= team.body %>
    </p> -->
    <h3>Admin actual:</h3>
    <p>
        <p><%= adminUser ? adminUser.username : 'None' %></p>
    </p>

    <form method="post" action="/teams/<%= team.id %>?_method=PUT" enctype="multipart/form-data">
        <%- include('_form.ejs') %>
    </form>
</section>
