

    
    <div class="breadcrumbs">
      <nav>
      <div class="container">
          <ol class="breadcrumb-card">
          <li><a href="/">Inicio</a> / Equipos</li>
          </ol>
      </div>
      </nav>
  </div>
  

  <div id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Equipos</h2>
        <p>Busca el equipo en el que mejor encajes</p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="button-container-newteam">
            <% if(locals.loginUser?.isAdmin || locals.loginUser?.isAdminTeam) {%>
              <a class="createTeamButton" href="/teams/new">Crear Equipo</a>
            <% } %>

            <div class="reward-container">
              <% if(locals.loginUser) { %>
                <div class="reward-content <%= locals.loginUser?.isAdmin || locals.loginUser?.isAdminTeam ? 'admin' : 'non-admin' %>">
                  <form id="claimRewardForm" action="/users/<%= locals.loginUser.id %>/claimdailyreward" method="post">
                    <% if(timeUntilNextReward) { %>
                      <button id="claimRewardButton" type="submit" disabled>Reclamar recompensa diaria</button>
                    <% } else { %>
                      <button id="claimRewardButton" type="submit">Reclamar recompensa diaria</button>
                    <% } %>
                  </form>
                  <% if(timeUntilNextReward) { %>
                    <p class="timeUntilNextReward">Puedes reclamar tu siguiente recompensa en <%= timeUntilNextReward %>.</p>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <% for (var i in teams) { %>
          <% var team = teams[i]; %>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="<%= i*200 %>">
            <div class="post-box">
              <div class="post-img">
                <%- include('../attachments/_attachmentTeams', { team: team }) %>
              </div>
              <div class="meta">
                <span class="post-date"><%= new Date(team.createdAt).toDateString() %></span>
                <span class="post-author"> / <%= team.author?.username ?? "Anonymous" %></span>
              </div>
              <h3 class="post-title"><%= team.title %></h3>
              <p class="limited-text"><%= team.body %></p>
              <a href="/teams/<%= team.id %>" class="btn"><span>Más información</span></a>
              <% if(locals.loginUser?.id === team.authorId || locals.loginUser?.isAdmin || locals.loginUser?.isAdminTeam) {%>
                <div class="edit-delete-buttons">
                <a class="btn" href="/teams/<%= team.id %>/edit">Editar</a>
                <a class="btn" href="/teams/<%= team.id %>?_method=DELETE" onClick="return confirm('Delete: <%= team.title %>');">Eliminar</a>
                </div>
              <% } %>
            </div>
          </div>
          <% if ((i+1) % 3 === 0) { %>
            </div>
            <div class="row">
          <% } %>
        <% } %>
      </div>


    </div>

    <div class="deletedteams">
      <div class="section-header">
        <div class="header-content">
          <h2>Equipos Eliminados</h2>
          <img src="/images/3D-icons/papelera-icon-3.PNG" alt="Papelera" class="deletedheader-image">
        </div>
        <p>Encuentra los equipos que fueron eliminados</p>
      </div>
      <!-- Registro de teams eliminados -->
      <% if (deletedTeams && deletedTeams.length > 0) { %>
        <div class="deletedposts-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Eliminado por</th>
                <th scope="col">Fecha de eliminación</th>
              </tr>
            </thead>
            <tbody>
              <% for (var i in deletedTeams) { %>
                <% var deletedTeam = deletedTeams[i]; %>
                <tr class="deleted-post <%= i >= 5 ? 'hidden' : '' %>">
                  <td><%= deletedTeam.title %></td>
                  <td><%= deletedTeam.deletedBy ?? "Anonymous" %></td>
                  <td><%= deletedTeam.deletedAt?.toLocaleDateString() ?? "Unknown" %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <% if (deletedTeams.length > 5) { %>
            <button id="showMore">Mostrar más</button>
          <% } %>
        </div>
      <% } else { %>
        <p class="center-textfiltro">No hay equipos eliminados.</p>
      <% } %>
    </div>

  </div>
    

</section>

 