
<div class="team-section-show">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <nav>
    <div class="container">
        <ol class="breadcrumb-card">
        <li><a href="/">Menu</a> / <a href="/teams">Equipos</a> / <%= team.title %></li>
        </ol>
    </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->
  
  <div class="section-header">
    <h2><%= team.title %></h2>
    <!-- <p>Encuentra los equipos que fueron eliminados</p> -->
  </div>

  <div class="unirseequipo">
    <% if (locals.loginUser && !locals.isMember) { %> 
      <form method="post" action="/teams/<%= team.id %>/join">
        <button type="submit" class="btn join-btn">Join Team</button>
      </form>
    <% } %>

    <% if (locals.loginUser && locals.isMember) { %> 
      <form method="post" action="/teams/<%= team.id %>/leave">
        <button type="submit" class="btn">Leave Team</button>
      </form>
    <% } %>
  </div>

  <div class="card">
    <div class="team-info">
      <div class="team-image">
        <%- include('../attachments/_attachmentTeams', { team: team }) %>
      </div>
      <div class="team-body">
        <h1 class="team-title"><%= team.title %></h1>
        <p class="team-description"><%= team.body %></p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="team-stats">
      <div class="row">
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-users"></i>
            <div class="stat-info">
              <div class="stat-title">Number of Users</div>
              <div class="stat-value"><%= team.numUsers %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-user"></i>
            <div class="stat-info">
              <div class="stat-title">Author</div>
              <div class="stat-value"><%= team.author?.username ?? "Anonymous" %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-user-shield"></i>
            <div class="stat-info">
              <div class="stat-title">Admin User</div>
              <div class="stat-value"><%= adminUser?.username ?? 'None' %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-calendar-alt"></i>
            <div class="stat-info">
              <div class="stat-title">Created At</div>
              <div class="stat-value"><%= team.createdAt %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-coins"></i>
            <div class="stat-info">
              <div class="stat-title">Number of Tokens</div>
              <div class="stat-value"><%= team.tokens %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="stat-item">
            <i class="fas fa-calendar-check"></i>
            <div class="stat-info">
              <div class="stat-title">Updated At</div>
              <div class="stat-value"><%= team.updatedAt %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <% if (locals.loginUser && !locals.isMember) { %> 
    <form method="post" action="/teams/<%= team.id %>/join">
      <button type="submit" class="btn">Join Team</button>
    </form>
    <% } %>

    <% if (locals.loginUser && locals.isMember) { %> 
      <form method="post" action="/teams/<%= team.id %>/leave">
          <button type="submit" class="btn">Leave Team</button>
      </form>
    <% } %> -->
  </div>
 

  <div class="section-header">
    <h2>Miembros del equipo</h2>
  </div>

    <div class="card">
      <div class="tablausuarios">
      <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Wallet</th>
                <th>Tokens</th>
                <th>Reputation</th>
            </tr>
        </thead>
        <tbody>
            <% teamMembers.forEach(member => { %>
                <tr>
                    <td><%= member.user.username %></td>
                    <td><%= member.wallet %></td>
                    <td><%= member.tokens %></td>
                    <td>
                      <div class="progress-bar-container" data-reputation="<%= member.reputation %>">
                          <div class="progress-bar"></div>
                          <span class="percentage"><%= member.reputation %> %</span>
                      </div>
                      
                  </td>
                </tr>
            <% }) %>
        </tbody>
      </table> 
      </div>
    </div>
    <% if (locals.loginUser && locals.isMember) { %> 
    <div class="section-header">
      <h2>Acciones del equipo</h2>
    </div>
    <% } %>
    <div class="tarjetasaccion">
    <% if (locals.loginUser && locals.isMember) { %> 
      <div class="card donation-form">
          <h3 class="donarpuntos">Donar Tokens</h3>
          <form method="post" action="/teams/<%= team.id %>/donate">
                  <div class="form-group">
                          <label for="recipient">Destinatario:</label>
                          <div class="user-buttons">
                                  <% teamMembers.forEach(member => { %>
                                          <% if (member.user.id !== locals.loginUser.id) { %>
                                                  <button type="button" class="user-button" onclick="selectRecipient(this)" data-id="<%= member.user.id %>">
                                                          <%= member.user.username %>
                                                  </button>
                                          <% } %>
                                  <% }) %>
                          </div>
                          <input type="hidden" name="recipient" id="recipient">
                  </div>
  
                  <div class="form-group">
                          <label for="amount">Cantidad: <span id="amountLabel">1</span></label>
                          <input type="range" name="amount" id="amount" min="1" max="<%= locals.loginUser.wallet %>" value="1" oninput="updateAmountLabel(this.value)" required>
                  </div>
                  
                    <button type="submit" class="btn donate-button">Donar</button>
                  
          </form>
      </div>
    <% } %>

    <% if (locals.loginUser && locals.loginUser.isAdmin) { %> 
      <div class="card inflate-form">
        <h3 class="inflaciontext">Inflación</h3>
        <p>Al presionar este botón, los tokens de todos los miembros del equipo se reducirán en un 50%.</p>
        <form method="post" action="/teams/<%= team.id %>/inflate">
          <button type="submit" class="inflate-button">Aplicar</button>
        </form>
      </div>
    <% } %>
    </div>

    <div class="button-container-volverateams">
      <a href="/teams" class="volverateams">Volver</a>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var progressBarContainers = document.querySelectorAll('.progress-bar-container');
      progressBarContainers.forEach(function(container) {
          var reputation = container.getAttribute('data-reputation');
          var progressBar = container.querySelector('.progress-bar');
          progressBar.style.width = reputation + '%';
      });
  });
</script>

<script>
  function updateAmountLabel(value) {
    document.getElementById('amountLabel').textContent = value;
  }
</script>

<script>
  function selectRecipient(button) {
    document.querySelectorAll('.user-button').forEach(button => button.classList.remove('selected'));
    button.classList.add('selected');
    document.getElementById('recipient').value = button.dataset.id;
  }

  function updateAmountLabel(value) {
    document.getElementById('amountLabel').textContent = value;
  }
</script>