

<section>
  <h2>Edit Post:</h2>

  <h3>Titulo actual:</h3>
  <p><%= post.title %></p>
  <h3>Descripcion actual:</h3>
  <p><%= post.body %></p>

<form method="post" action="/posts/<%= post.id %>?_method=PUT" enctype="multipart/form-data">
    <div class="inputOption">
        <input type="text" id="title" name="title" placeholder="Título" required>
    </div>
    <div class="inputOption">
        <textarea id="body" name="body" placeholder="Mensaje" required></textarea>
    </div>
    <div class="inputOption">
        <input type="file" id="image" name="image" required>
    </div>

    <div class="inputOption">
        <label for="votingStartDate">Voting Start Date:</label>
        <input type="datetime-local" id="votingStartDate" name="votingStartDate" required
            value="<%= post.votingStartDate instanceof Date ? post.votingStartDate.toISOString().slice(0, 16) : '' %>" />
    </div>
    <div class="inputOption">
        <label for="votingEndDate">Voting End Date:</label>
        <input type="datetime-local" id="votingEndDate" name="votingEndDate" required
            value="<%= post.votingEndDate instanceof Date ? post.votingEndDate.toISOString().slice(0, 16) : '' %>" />
    </div>
    <div class="inputOption">
        <label for="applicationDate">Application Date:</label>
        <input type="datetime-local" id="applicationDate" name="applicationDate" required
            value="<%= post.applicationDate instanceof Date ? post.applicationDate.toISOString().slice(0, 16) : '' %>" />
    </div>
    <div class="inputOption">
        <label for="vetoDate">Veto Date:</label>
        <input type="datetime-local" id="vetoDate" name="vetoDate" required
            value="<%= post.vetoDate instanceof Date ? post.vetoDate.toISOString().slice(0, 16) : '' %>" />
    </div>

    <div class="inputOption">
        <label for="team">Equipo:</label>
        <select id="team" name="team" required>
            <% teams.forEach(team => { %>
                <% if (post.TeamId === team.id) { %>
                    <option value="<%= team.id %>" selected><%= team.title %></option>
                <% } else { %>
                    <option value="<%= team.id %>"><%= team.title %></option>
                <% } %>
            <% }); %>
        </select>
    </div> 
    

    <input type="submit" name="enviar" id="enviar" value="Save" />
    <a href="/posts">Volver</a>
  </form>

  <script>
    document.getElementById('postForm').addEventListener('submit', function(event) {
        const form = event.target;
        if (!form.checkValidity()) {
            event.preventDefault(); 
            alert('Por favor, rellena todos los campos obligatorios.');
        }
    });
</script>


</section>
