<section>
    <h2>Add post:</h2>
    <form method="post" action="/posts" enctype="multipart/form-data" >
        <%- include('_form.ejs') %>
        
        <div class="inputOption">
            <label for="votingStartDate">Voting Start Date:</label>
            <input type="datetime-local" id="votingStartDate" name="votingStartDate" required
                value="<%= post.votingStartDate ? post.votingStartDate.toISOString().slice(0, 16) : '' %>" />
        </div>

        <div class="inputOption">
            <label for="votingEndDate">Voting End Date:</label>
            <input type="datetime-local" id="votingEndDate" name="votingEndDate" required
                value="<%= post.votingEndDate ? post.votingEndDate.toISOString().slice(0, 16) : '' %>" />
        </div>
        
        <div class="inputOption">
            <label for="applicationDate">Application Date:</label>
            <input type="datetime-local" id="applicationDate" name="applicationDate" required
                value="<%= post.applicationDate ? post.applicationDate.toISOString().slice(0, 16) : '' %>" />
        </div>
        
        <div class="inputOption">
            <label for="vetoDate">Veto Date:</label>
            <input type="datetime-local" id="vetoDate" name="vetoDate" required
                value="<%= post.vetoDate ? post.vetoDate.toISOString().slice(0, 16) : '' %>" />
        </div>
        
        <input type="submit" name="enviar" id="enviar" value="Save">
        <a href="/posts">Cancelar</a>
    </form>

</section> 
