<section>
    <h2>Add post:</h2>
    <form method="post" action="/posts" enctype="multipart/form-data" >
        <%- include('_form.ejs') %>
        
        <div class="inputOption">
            <label for="votingStartDate">Voting Start Date:</label>
            <input type="datetime-local" id="votingStartDate" name="votingStartDate" required
                value="<%= post.votingStartDate ? post.votingStartDate.toISOString().slice(0, 16) : '' %>" />
        </div>

        <div class="inputOption">
            <label for="votingEndDate">Voting End Date:</label>
            <input type="datetime-local" id="votingEndDate" name="votingEndDate" required
                value="<%= post.votingEndDate ? post.votingEndDate.toISOString().slice(0, 16) : '' %>" />
        </div>
        
        <div class="inputOption">
            <label for="applicationDate">Application Date:</label>
            <input type="datetime-local" id="applicationDate" name="applicationDate" required
                value="<%= post.applicationDate ? post.applicationDate.toISOString().slice(0, 16) : '' %>" />
        </div>
        
        <div class="inputOption">
            <label for="vetoDate">Veto Date:</label>
            <input type="datetime-local" id="vetoDate" name="vetoDate" required
                value="<%= post.vetoDate ? post.vetoDate.toISOString().slice(0, 16) : '' %>" />
        </div>

        <div class="inputOption">
            <label for="min_voting">Minimum Voting Score:</label>
            <input type="number" id="min_voting" name="min_voting" value="<%= post.min_voting %>" min="1" step="1" required>
        </div>
        <div class="inputOption">
            <label for="max_voting">Maximum Voting:</label>
            <input type="number" id="max_voting" name="max_voting" value="<%= post.max_voting %>" min="1" step="1" required>
        </div>
        <div class="inputOption">
            <label for="min_users_voted">Minimum Users Voted:</label>
            <input type="number" id="min_users_voted" name="min_users_voted" value="<%= post.min_users_voted %>" min="1" step="1" required>
        </div>
        <div class="inputOption">
            <label for="voting_reward">Voting Reward:</label>
            <input type="number" id="voting_reward" name="voting_reward" value="<%= post.voting_reward %>" min="1" step="1" required>
        </div>
        <div class="inputOption">
            <label for="voting_failure_penalty">Voting Failure Penalty:</label>
            <input type="number" id="voting_failure_penalty" name="voting_failure_penalty" value="<%= post.voting_failure_penalty %>" min="1" step="1" required>
        </div>
        <div class="inputOption">
            <label for="voting_success_reward">Voting Success Reward:</label>
            <input type="number" id="voting_success_reward" name="voting_success_reward" value="<%= post.voting_success_reward %>" min="1" step="1" required>
        </div>
        
        
        <input type="submit" name="enviar" id="enviar" value="Save">
        <a href="/posts">Cancelar</a>
    </form>

</section> 
