<section>
  <h2>Show Post:</h2>

  <%- include('../attachments/_attachment', { post: post }) %>
  <article class="postShow">
    <ul>
      <li>Title: <b> <%= post.title %> </b></li>
      <li>Body: <b> <%= post.body %> </b></li>
      <li>Voting Start Date: <%= post.votingStartDate %></li>
      <li>Voting End Date: <%= post.votingEndDate %></li>
      <li>Application Date: <%= post.applicationDate %></li>
      <li>Veto Date: <%= post.vetoDate %></li>
    </ul>

    <div>
      <small id="author"
        >By <b> <%= post.author?.username ?? "Anonymous" %> </b>
      </small>
    </div>

    <a href="/posts">Volver</a>
  </article>
</section>




