<section>
  <h2>Show Post:</h2>

  <% include('../attachments/_attachment', { post: post }) %>
  <article class="postShow">
  <div class="row">
  <div class="col-md-6">
    <ul>
      <li>Title: <b><%= post.title %></b></li>
      <li>Body: <b><%= post.body %></b></li>
      <li>Voting Start Date: <%= post.votingStartDate %></li>
      <li>Voting End Date: <%= post.votingEndDate %></li>
      <li>Application Date: <%= post.applicationDate %></li>
      <li>Veto Date: <%= post.vetoDate %></li>
      <li>Votes For: <%= post.votesFor %></li>
      <li>Votes Against: <%= post.votesAgainst %></li>
      <li>Abstentions: <%= post.abstentions %></li>
      <li>Team: <%= post.team %></li>
    </ul>
    <% if (!post.vetoed) { %>
      <% if (belongsToSameTeam) { %> 
        <% if (isVotingPeriod) { %>
          <% if (post.hasVoted) { %>
            <p>¡Ya has votado en esta propuesta!</p>
            <form action="/posts/<%= post.id %>/change-vote" method="post">
              <input type="hidden" name="teamId" value="<%= post.TeamId %>">
              <button type="submit" name="vote" value="change">Cambiar mi voto</button>
            </form>
          <% } else { %>
            <form action="/posts/<%= post.id %>/vote" method="post">
              <label for="votePoints">Cantidad de puntos:</label>
              <input type="number" id="votePoints" name="votePoints" min="1" max="10000" required>
              <button type="submit" name="vote" value="for">Votar a favor (<%= post.votesFor %>)</button>
              <button type="submit" name="vote" value="against">Votar en contra (<%= post.votesAgainst %>)</button>
              <button type="submit" name="vote" value="abstain">Abstenerse (<%= post.abstentions %>)</button>
            </form>
          <% } %>
        <% } else { %>
          <p>Las votaciones no están habilitadas en este momento.</p>
        <% } %>
      <% } else { %>
        <p>Para votar, debes pertenecer al equipo <%= post.team %>.</p>
      <% } %>
    <% } else { %>
      <p>El administrador ha ejercido el derecho a veto y la propuesta se ha cancelado.</p>
    <% } %>

    <% if (post.usersVoted < post.min_users_voted) { %>
      <p>No se alcanzó el número mínimo de usuarios necesarios a votar para que la propuesta se llevara a cabo.</p>
    <% } %>

    <% if (isAdmin && !post.vetoed && isVetoEnabled) { %>
      <form action="/posts/<%= post.id %>/veto" method="post">
        <button type="submit" name="veto" value="veto">Veto</button>
      </form>
    <% } %>

    <div> 
      <small id="author">
        By <b><%= post.author ? post.author.username : "Anonymous" %></b>
      </small>
    </div>
   <a href="/posts">Back</a>
  </div>
  <div class="col-md-6">
    <ul>
      <li>Minimum Voting Score: <%= post.min_voting %></li>
      <li>Maximum Voting: <%= post.max_voting %></li>
      <li>Minimum Users Voted: <%= post.min_users_voted %></li>
      <li>Voting Reward: <%= post.voting_reward %></li>
      <li>Voting Failure Penalty: <%= post.voting_failure_penalty %></li>
      <li>Voting Success Reward: <%= post.voting_success_reward %></li>
      <br>
      <li>User Wallet Points: <%= post.userWalletPoints %></li>
    </ul>
  </div>
  </div>
  </article>
</section>
