<section>
  <h2>Show Post:</h2>

  <% include('../attachments/_attachment', { post: post }) %>
  <article class="postShow">
    <ul>
      <li>Title: <b><%= post.title %></b></li>
      <li>Body: <b><%= post.body %></b></li>
      <li>Voting Start Date: <%= post.votingStartDate %></li>
      <li>Voting End Date: <%= post.votingEndDate %></li>
      <li>Application Date: <%= post.applicationDate %></li>
      <li>Veto Date: <%= post.vetoDate %></li>
      <li>Votes For: <%= post.votesFor %></li>
      <li>Votes Against: <%= post.votesAgainst %></li>
      <li>Abstentions: <%= post.abstentions %></li>
      <li>Team: <%= post.team %></li> 
    </ul>
    <% if (!post.vetoed) { %>
      <% if (isVotingPeriod) { %>
        <% if (post.hasVoted) { %>
          <p>¡Ya has votado en esta propuesta!</p>
          <form action="/posts/<%= post.id %>/change-vote" method="post">
            <button type="submit" name="vote" value="change">Cambiar mi voto</button>
          </form>
        <% } else { %>
          <form action="/posts/<%= post.id %>/vote" method="post">
            <button type="submit" name="vote" value="for">Votar a favor (<%= post.votesFor %>)</button>
            <button type="submit" name="vote" value="against">Votar en contra (<%= post.votesAgainst %>)</button>
            <button type="submit" name="vote" value="abstain">Abstenerse (<%= post.abstentions %>)</button>
          </form>
        <% } %>
      <% } else { %>
        <p>Las votaciones no están habilitadas en este momento.</p>
      <% } %>
    <% } else { %>
      <p>El administrador ha ejercido el derecho a veto y la propuesta se ha cancelado.</p>
    <% } %>

    <% if (isAdmin && !post.vetoed && isVetoEnabled) { %>
      <form action="/posts/<%= post.id %>/veto" method="post">
        <button type="submit" name="veto" value="veto">Veto</button>
      </form>
    <% } %>

    <div> 
      <small id="author">
        By <b><%= post.author ? post.author.username : "Anonymous" %></b>
      </small>
    </div>

    <a href="/posts">Back</a>
  </article>
</section>
